*.swp
*.a
*.o
*.out
*.err
*_dbg
/database
/nbproject/private
/tools/sample/lineorder_size
/tools/sample/main
/tools/sample/test_hashjoin
/tools/ssbm/ssbm-q01
/tools/ssbm/ssbm-q01_eager
/tools/ssbm/ssbm-q01_lazy
/tools/ssbm/ssbm-q01_encoded
