*.swp
*.a
*.o
*.out
*.err
*_dbg
*.result
*.summary
Makefile
cmake_install.cmake
CMakeCache.txt
CMakeFiles
/build
/database
/nbproject/private
/eval/data
/eval/out
/eval/outNewHashjoin1/
/eval/outNewHashjoin2/
/eval/dataOldHashjoin/
/eval/outOldHashjoin/
/eval/dataNewHashjoin1/
/eval/dataNewHashjoin2/
/eval/2017*
/lib/column_operators/createshufflemaskarrays
/lib/column_operators/testshufflemask
