[submodule "pcm"]
	path = pcm
	url = https://github.com/brics-db/pcm.git
[submodule "ssb-dbgen"]
	path = ssb-dbgen
	url = https://github.com/brics-db/ssb-dbgen
[submodule "coding_benchmark"]
	path = coding_benchmark
	url = https://github.com/brics-db/coding_benchmark
	branch = SIGMOD2018reproducibility
